.p-32 {
    padding: ($spacer * 2)  !important;
}

.py-32{
    padding-top: ($spacer * 2)  !important;
    padding-bottom: ($spacer * 2)  !important;
}

.px-32{
    padding-left: ($spacer * 2)  !important;    
    padding-right: ($spacer * 2)  !important; 
}

.mb-32 {
    margin-bottom: ($spacer * 2)  !important;
}
