.p-6 {
    padding: ($spacer * 2)  !important;
}

.py-6{
    padding-top: ($spacer * 1)  !important;
    padding-bottom: ($spacer * 1)  !important;
}

.mb-6 {
    margin-bottom: ($spacer * 2)  !important;
}

.mb-7 {
    margin-bottom: ($spacer * 4)  !important;
}
