<!-- SAMPLE 帳號摺疊內容 Modal account card-->
<div class="modal fade" id="exampleModal-sample" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content rounded-1 p-32 d-flex flex-row gap-4">
    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
      aria-label="Close"></button>
    <p>此為彈跳視窗樣本，內容請點選 ID #1 項目觀看</p>    
  </div>
</div>
</div>