<!-- 帳號摺疊內容 Model account card-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content rounded-1 p-32 d-flex flex-row gap-4">
    <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal"
      aria-label="Close"></button>
    <div class="overflow-hidden admin-photo"><img src="../assets/images/emir.jpeg" alt="Emir Wicks"></div>
    <ul class="list-unstyled mb-0">
      <li class="mb-2">#1</li>
      <li>Admin</li>
      <li class="fs-4 fw-bold mb-2">Emir Wicks</li>
      <li class="fs-14 text-muted mb-3">emir.wicks@mail.com</li>
      <li>
        <!-- Accordion account info -->
        <div class="accordion accordion-flush accordion-account" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed px-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <span class="bg-light py-1 px-2">Verified</span>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"><button type="button" class="btn btn-outline-danger rounded-1 fw-bold me-3">Deactivate</button><button type="button" class="btn btn-success rounded-1">Edit</button></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>